In [1]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [2]:
txt = "The best things in life are free!"
print("Expensive" in txt)

False

In [5]:
txt = "The best things in life are free!"
if "expensive" in txt:
  print("Yes, 'free' is present.")
else:
    print("No,''")

No,''

In [6]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [7]:
b = "Hello, World!"
print(b[2:5])

llo

In [8]:
b = "Hello, World!"
print(b[:5])

Hello

In [9]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [10]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [11]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [12]:
a="HELLO WORLD"
print(a.lower())

hello world

In [13]:
students=['Alan','Bill','cory','Ram','Shyam','Gita']
#output={'Alan':4,'Bill':4,'cory':4,'Ram':3,'Shyam':5,'Gita':4}

output={}
for student in students:
    output.update({student:len(student)})
print(output)

{'Alan': 4, 'Bill': 4, 'cory': 4, 'Ram': 3, 'Shyam': 5, 'Gita': 4}

In [14]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(0,10,4)
    )

[0, 4, 8]

In [20]:
list(range(10,-1,-1))#start,stop,step

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [24]:
students=['Alan','Bill','cory','Ram','Shyam','Gita']
for i in studdents:
    print(student(range(5,0,1)))

NameError: name 'studdents' is not defined

In [27]:
students=['Alan','Bill','cory','Ram','Shyam','Gita']
for i in range(len(students)-1,-1,-1):
    print(i,students[i])

5 Gita
4 Shyam
3 Ram
2 cory
1 Bill
0 Alan

In [28]:
students=['Alan','Bill','cory','Ram','Shyam','Gita']
for i in range(len(students)-1,-1,-1):
    print(i,students[i])

5 Gita

AttributeError: 'list' object has no attribute 'update'

In [29]:
us_price={'milk':2.03,'bread':2.6,'butter':2.6}
#nep_price={'milk':268.6299,'bread':344.,'butter':344.}
rate=135
output={us_price*rate}
print(output)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [30]:
us_price={'milk':2.03,'bread':2.6,'butter':2.6}
#nep_price={'milk':268.6299,'bread':344.,'butter':344.}
nep_price={}
for k,v in us_price.items():
    nep_price.update({k:v*130})
print(nep_price)

{'milk': 263.9, 'bread': 338.0, 'butter': 338.0}

In [31]:
us_price={'milk':2.03,'bread':2.6,'butter':2.6}
#nep_price={'milk':268.6299,'bread':344.,'butter':344.}
nep_price={}
for k,v in us_price.items():
    nep_price.update({k:v*130+13%*v*130})
print(nep_price)

SyntaxError: invalid syntax (3584499812.py, line 5)

In [33]:
us_price={'milk':2.03,'bread':2.6,'butter':2.6}
#nep_price={'milk':268.6299,'bread':344.,'butter':344.}
nep_price={}
for k,v in us_price.items():
    nep_price.update({k:v*130+(v*130)*13/100})
print(nep_price)

{'milk': 298.207, 'bread': 381.94, 'butter': 381.94}

In [34]:
us_price={'milk':2.03,'bread':2.6,'butter':2.6,'meat':5,'mobile':500,'televison':340}
nep_price={}
for k,v in us_price.items():
    if v<=5:
        nep_price.update({k:v*130*1.13})
print(nep_price)

{'milk': 298.20699999999994, 'bread': 381.93999999999994, 'butter': 381.93999999999994, 'meat': 734.4999999999999}

In [35]:
us_price={'milk':2.03,'bread':2.6,'butter':2.6,'meat':5,'mobile':500,'televison':340}
nep_price={}
for k,v in us_price.items():
    if v<=5:
        nep_price.update({k:v*130*1.13})
    else:
        nep_price.update({k:v*130*1.20})
print(nep_price)

{'milk': 298.20699999999994, 'bread': 381.93999999999994, 'butter': 381.93999999999994, 'meat': 734.4999999999999, 'mobile': 78000.0, 'televison': 53040.0}

In [37]:
us_price={'milk':2.03,'bread':2.6,'butter':2.6,'meat':5,'mobile':500,'televison':340}
nep_price={}
for k,v in us_price.items():
    if v<=5:
        nep_price.update({k:v*130*1.13})
    else:
        nep_price.update({k:v*130*1.20})
print(nep_price)
total=0
for v in nep_price:
    total+=v
print(v)

{'milk': 298.20699999999994, 'bread': 381.93999999999994, 'butter': 381.93999999999994, 'meat': 734.4999999999999, 'mobile': 78000.0, 'televison': 53040.0}

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [38]:
us_price={'milk':2.03,'bread':2.6,'butter':2.6,'meat':5,'mobile':500,'televison':340}
nep_price={}
total_us_price=total_nep_price=0
for k,v in us_price.items():
    total_us_price +=v
    if v<=5:
        nep_price.update({k:v*130*1.13})
        total_nep_price+=v*130*1.12

In [39]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
for i in numbers:
    if i==6:
        pass

In [40]:
def hello():#paxi ko laagi kei garna xa vaney 
    pass

In [44]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
sum=0
for i in numbers:
    sum +=i
    
        
print(sum-6)

72

In [49]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
sum= 0
for i in numbers:
    if i !=6:
        sum +=i
print(sum)

72

In [51]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
sum=0
for i in numbers:
    if i !=6 or i!=7 or i!=8:
        sum+=i
   
print(i)

12

In [52]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
sum =0
for i in numbers:
    if i in[6,7,8]:
        continue #skips the current loop
    sum+=i
print(sum)

57

In [53]:
numbers=[11,2,13,4,5,6,7,8,9,10,11,12]
sum=0
for i in numbers:
    if i in [6]:
        break
    sum+=i
print(sum)

35

In [56]:
names=['ram','shyam','gita','sita']
foods=['momo','chawmein','thukpa']
print("ram eats"+foods[0]

SyntaxError: incomplete input (3729690784.py, line 3)

In [58]:
names=['ram','shyam','gita','sita']
foods=['momo','chawmein','thukpa']
for name in names:
    for food in foods:#nested for loop
        print(f"{name} eats {food}")

ram eats momo
ram eats chawmein
ram eats thukpa
shyam eats momo
shyam eats chawmein
shyam eats thukpa
gita eats momo
gita eats chawmein
gita eats thukpa
sita eats momo
sita eats chawmein
sita eats thukpa